# Ignore git and cache directories
.git
.cache

# Ignore logs
*.log

# Ignore node modules
node_modules

# Ignore any env files
*.env

# Ignore any files in the .vscode directory
.vscode/*

# Ignore any files in the tmp directory
tmp/
